/* ( Please Notice : MY Monitor resolution 1366 x 768 ! & I work on 80% zoom on Chorome  ) */

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/* banner css  */

.banner {
  background-image: url(../img/banner/banner-bg.png);
  height: 850px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: end;
  padding-right: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.banner-title {
  font-size: 65px;
  color: white;
}

.banner-description {
  font-size: 16px;
  line-height: 28px;
  color: white;
  margin: 24px 0px 30px;
}

.banner-btn {
  font-size: 20px;
  padding: 20px 25px;
  border: 0px;
  border-radius: 8px;
  color: #005fac;
  font-weight: 600;
}

/* wanna do section start here  */

.wanna-do {
  height: 800px;
}

.wanna-do-title h2 {
  font-size: 45px;
  text-align: center;
  padding: 140px 0px 50px;
}

.box-main {
  height: 396px;
  width: 320px;
  background-color: #15acdc;
  text-align: center;
  border-radius: 10px;
}

.box-main h3 {
  font-size: 35px;
  color: #ffffff;
  padding: 30px 0px 20px;
  font-weight: 600;
}

.box-main p {
  padding: 0px 25px 20px;
  color: #ffffff;
  line-height: 22px;
}

.box-main a {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 3px solid #fff;
}

.box {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 65px;
}

#box-main-2 {
  background-color: #016fb6;
}

/* wanna do section end here  */

/* img section start here  */

.img-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 175px;
  height: 850px;
}

.img-title h1 {
  font-size: 45px;
  font-weight: 700;
}

.img-title p {
  font-weight: 400;
  color: #444343;
  padding: 20px 0px 15px;
  line-height: 28px;
}

.img-title ul li {
  list-style: none;
  color: #444343;
  padding: 3px 0px;
}

/* img section end here  */

/* My plan section start  */

.my-plan {
  height: 500px;
}

.my-plan-section {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 25px;
}

.my-plan h1 {
  font-size: 40px;
  text-align: center;
  padding: 50px 0px;
}

.my-plan-text {
  margin: 10px 20px;
}

.my-plan-text h4 {
  font-size: 30px;
  margin-top: 10px;
}

.my-plan-text p {
  margin-top: 5px;
  font-size: 20px;
  color: #737272;
}

#my-plan-ecom {
  padding-right: 25px;
}

/* My plan section end  */

/* watch section start  */

.watch-section {
  height: 370px;
  position: relative;
}

.watch-text {
  position: absolute;
  top: 8.5%;
  left: 29%;
}

.img-gradient {
  max-width: 100%;
  width: 800px;
  margin: auto;
}

.img-gradient img {
  width: 800px;
}

.img-gradient::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to right, #005fac, #ffff000e);
  margin-top: -215px;
  height: 212px;
  width: 100%;
  border-radius: 5px;
  content: "";
}

.watch-text {
  color: #fff;
}

.watch-btn {
  color: #15acdc;
  font-weight: 700;
  font-size: 18px;
  margin-top: 15px;
  padding: 13px 17px;
  border-radius: 5px;
  border: 0px;
}

/* watch section end  */

/* Footer part start here  */

.footer {
  height: 475px;
  background-color: #151414;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 120px;
}

.footer-text h1 {
  font-size: 45px;
  padding: 20px 0px 15px;
}

.footer-text p {
  line-height: 28px;
}

#footer-decsrip {
  margin: 15px 0px;
}

.social-icon {
  margin-top: 20px;
}

.social-icon img {
  margin-right: 12px;
  cursor: pointer;
}

.footer-btn {
  margin-right: 80px;
}

.footer-btn h4 {
  font-size: 28px;
  color: #fff;
  margin: 20px 0px;
  font-weight: 600;
}

.footer-btn input {
  padding: 16px 130px 16px 16px;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 7px;
  margin-bottom: 25px;
  color: #fff;
}

::placeholder {
  color: #fff;
  font-weight: 400;
}

.footer-btn button {
  padding: 18px 30px;
  font-size: 20px;
  background-color: #016fb6;
  color: #fff;
  font-weight: 500;
  border: 0;
  border-radius: 7px;
}

/* Footer part end here  */
